* 
{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}


html 
{ background-color:rgb(62, 62, 85); }

body 
{
    width: 90%;
    background-color: rgb(62, 62, 85);;
    margin: 15px auto;
 
}

main 
{
    margin: 5px auto;
    width: 90%;
    height: 750px auto;
    border-right: 4px solid rgb(196, 128, 2);
    padding: 30px;
}

footer 
{
    border-bottom: 5px solid rgb(196, 128, 2);
    padding: 5px;
    width: 95%;
    float: up;

}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;   
    border: 3px;
    border-radius: 10px;
    position: absolute;
    font-size: 15pt;
    overflow: hidden;
    float: left;
    background-color: rgb(196, 128, 2);
    padding: 8px;
    display: block;
}
         